.App {
  text-align: center;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

/* Contenedor de fila de formulario */
.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alineación vertical de los campos */
  margin-bottom: 20px; /* Separación entre filas de formulario */
}

/* Columna de formulario */
.form-column {
  flex: 1;
  margin-right: 10px;
}

/* Ejemplo de campo de formulario */
.form-example {
  margin-bottom: 10px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}






/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
